@charset "UTF-8";

 *{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0, 0, 0, 0.952);
    color:white;
}
main{
    padding-left: 100px;

}

#logo img{
    width: 125px;
    position: relative;
    border-radius: 7px;
    top: 40px;
    left: 40px;

}
#social  img{
    width: 27px;
    padding-right: 15px;
    float: right;
    position: relative;
    top: 115px;
    right: 30px;

    transition: transform 0.4s ease;
}

#social img:hover{
    transform: scale(1.1);
}


section > h1{
    text-shadow: 0.5px 0.5px 1px black;
    margin-top: 100px;
    font-size: 3em;
    font-weight: bolder;
    width: 100%;
}
h5{
    padding-left: 35px;
    font-size: 0.9em;
}
h5 > img{
    position: absolute;
    left: 96px;
    top: 342px;
}
#button h4{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
    text-align: center;
    width: 500px;
    padding: 15px;
    background-color: rgba(255, 166, 0, 0.801);
    border-radius: 15px;

    float: right;
    position:relative;
    top: -70px; 
    right: 200px;

    transition: transform 0.4s ease;


}
#button h4:hover{
    transform: scale(1.05);

}

#button h4:active{
    background-color: rgba(255, 166, 0, 0.938);
}
