@charset "UTF-8";

 *{
    margin: 0px;
    padding: 0px;
}

html,body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

body{
    background-color: rgba(0, 0, 0, 0.918);
    color: white;
    height: 100vh;
}

#burguer > img{
    display: block;
    width: 130px;
    border-radius: 10px;
    margin: 35px;
 }

 .social2{
    display: inline-block;
    width: 500px;
    height: 304px;
    position: absolute;
    right: 0;
    padding-right: 40px;
    border-radius: 50%;
 }
 .social1{
    display: inline-block;
    width: 27px;
    height: ;
    position: absolute;
    right: 0;
    padding-right: 100px;
    border-radius: 50%;
 }
.social1:hover{
    
}

section#principal{
    font-weight: bolder;
    padding-left: 100px;
}

section > div.delivery > p{
    background-image: url('../../imagens/motocicleta.png');
}
h1{
    font-size: 3em;
    padding-top: 30px;
}
  
#cardapio{
    background-color: rgba(255, 166, 0, 0.699);
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    position: absolute;
    right: 0;
    margin-right: 100px;
}
h4{
    text-align: center;
    color: white;
    
}

a{
    text-decoration: none;
    display: block;
    text-align: right;
}

p > img{
    display: inline-block;
    width: 27px;
}